{%extends "template.html"%}
{%block  conteudo%}


<div class="container">
<!--or 'novosJogos'-->
        <h1>Faça seu registro</h1>
        <form method="POST" action="{{url_for('autenticarRegistro')}}">
            {{form.csrf_token()}}
            <div>
                {{form.usuario.label(class='form-label')}}
                {{form.usuario(class='form-control')}}
            </div>
            <div>
                {{form.nickname.label(class='form-label')}}
                {{form.nickname(class='form-control')}}
            </div>
            <div>
                {{form.senha.label(class='form-label')}}
                {{form.senha(class='form-control')}}
            </div>
            <div>
                {{form.register(class='btn btn-primary')}}
                <a class="btn btn-secondary" href="{{url_for('index')}}">Voltar</a>
            </div>
        </form>
    </div>


{%endblock%}